<div  class="text-center m-4">
  <h1>S'inscrire</h1>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :photo, as: :file %>
    <div class="row">
    <div class="col">
      <%= f.input :first_name %>
    </div>
    <div class="col">
      <%= f.input :last_name %>
    </div>
  </div>




  <div class="form-actions my-2">
    <%= f.button :submit, "Sign up", class:'btn btn-primary w-100'%>
    <p class="text-center m-1"><%= render "devise/shared/links" %></p>
  </div>
<% end %>


