<div class="container flex-column">
  <h1>Nos têtes de gondoles</h1>
  <div class="cards">
    <% @users.each do |user| %>
      <% if user.vices.any? %>
        <div class="card align-items-center text-center h-100">
        <%= link_to vices_path(params: {name_query: user.last_name}) do %>
            <div>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: 'avatar-xl m-3'%>
              <% else %>
                <%= cl_image_tag("prbk2e5cvojsvcehqtll", class: 'avatar-xl m-3') %>
              <% end %>
            </div>
            <div class="rating d-flex w-100 justify-content-center">
              <%= image_tag('boobsSelect.png') %>
              <%= image_tag('boobsSelect.png') %>
              <%= image_tag('boobsSelect.png') %>
              <%= image_tag('boobsUnselect.png') %>
            </div>
            <div class="card-body p-3">
              <h2 class="m-0  text-decoration-none"><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></h2>
              <% array = [] %>
              <% user.vices.each do |vice|%>
                  <% array << vice.category.upcase %>
              <% end %>
              <%= array.uniq.join(' ,') %>
            </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>



<style>
  a:hover{
    text-decoration:none;
  }

  .card:hover{
  background-color: #5cd4d4;
  border: 1px solid white;
}
</style>
