

<div class="container text-center">
  <ul class=" text-center nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active pl-4 pr-4 pt-3 pb-3" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Mes Cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-4 pr-4 pt-3 pb-3" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Mes Vices</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><h1 class="mb-5">Plaisir d'offrir...</h1></div>
 <!--  DEBUT CARDS TAB -->
      <div class="cards card-vice">
              <%current_user.conferences.each do |vice| %>
                <div class="card m-0 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                            url('<%= cl_image_path(vice.user.photo.key) %>'); background-size: cover;">
                  <div class="card-body p-3 text-left d-flex">
                    <div class="mr-3">
                      <%= cl_image_tag(current_user.photo.key, class: 'avatar') %>
                    </div>
                    <div>
                      <h3 class="m-0"><%= current_user.conferences[0].vice.name %></h3>
                      <p class="card-text text-primary"><%= current_user.conferences[0].vice.category %></p>
                    </div>
                  </div>
                </div>
            <% end %>
      </div>
 <!--  FIN CARDS TAB -->

    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><h1 class="mb-5">Joie de recevoir...</h1></div>
 <!--  DEBUT CARDS TAB -->
      <div class="cards card-vice">
            <%current_user.vices.each do |vice| %>
                <div class="card m-0 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                            url('<%= cl_image_path(vice.user.photo.key) %>'); background-size: cover;">
                  <div class="card-body p-3 text-left d-flex">
                    <div class="mr-3">
                      <%= cl_image_tag(current_user.photo.key, class: 'avatar') %>
                    </div>
                    <div>
                      <h3 class="m-0"><%= vice.name %></h3>
                      <p class="card-text text-primary"><%= vice.category %></p>
                      <p class="card-text text-primary"><%= vice.ratings.average(:rating) %></p>
                      <div class="rating d-flex">
                        <%= link_to image_tag('boobsUnselect.png') , vice_ratings_path(vice, rating: 1), method: :post, id: "rate_1"%>
                        <%= link_to image_tag('boobsUnselect.png') , vice_ratings_path(vice, rating: 2), method: :post, id: "rate_2" %>
                        <%= link_to image_tag('boobsUnselect.png') , vice_ratings_path(vice, rating: 3), method: :post, id: "rate_3" %>
                        <%= link_to image_tag('boobsUnselect.png') , vice_ratings_path(vice, rating: 4), method: :post, id: "rate_4" %>
                        <%= link_to image_tag('boobsSelect.png') , vice_ratings_path(vice, rating: 5), method: :post, id: "rate_5" %>
                      </div>
                      <%= link_to "Editer", vice_path(vice) %>
                      <%= link_to "Supprimer", vice_path(vice), method: :delete, data: { confirm: "Are you sure?" } %>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
 <!--  FIN CARDS TAB -->
    </div>

</div>
<%= console %>




