
<div class="container">
  <%  if @conferences.nil? %>
    <h1>Vous n'avez pas de conférences de réservées</h1>
    <%= link_to 'retour au menu', vices_index_path %>
  <%  else %>
    <% @conferences.each do |conference| %>

      <div class="w-75">
        <!-- Ajouter helper link_to ici vers vice_path(@vice_id) -->
        <div class="card w-100">
          <%= cl_image_tag(conference.vice.photo.key ,class: "card-image") %>
          <div class="card-body">
            <%= cl_image_tag(conference.vice.user.photo.key, class: 'avatar-large card-avatar') %>
            <!-- <p class="m-0">Prénom Nom</p> -->
            <div class="d-flex justify-content-between">
              <p class="card-title"> <%= link_to conference.title, conference_path(conference) %></p>
              <p class="card-text text-primary"><%= conference.vice.category %></p>
              <p class="card-text"><%= conference.date %></p>
              <p class="card-text"><%= conference.status %></p>
            </div>
          </div>
        </div>
        <!-- Ajouter end helper link_to ici -->
      </div>

    <% end %>
  <% end %>
</div>
