<p><%= link_to 'Retour aux conférences', conferences_path, class: 'btn btn-primary' %></p>

<div class="container bg-white text-dark">
  <div class="d-flex justify-content-end" style="position: relative;">
    <div style="float: left;position: absolute;left: 2%;top:40%;">
      <h2><%= @conference.vice.category %></h2>
      <h1 class="w-50"><%= @conference.vice.name %></h1>
    </div>
    <% if @conference.vice.category == 'Déviance sexuelle' %>
      <img class ='imgRand' src="https://images.unsplash.com/photo-1531171421955-98c62fcd562f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=649&q=80")">
    <% elsif @conference.vice.category.capitalize == 'Détournement de biens publics'%>
      <img class ='imgRand' src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")">
    <% else %>
      <img class ='imgRand' src="https://images.unsplash.com/photo-1487687244198-8fd6524022f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")">
    <% end %>
  </div>

  <div class="d-flex justify-content-end align-items-center pb-4">
    <div style="padding-left: 24%;margin-right: 10%;">
      <p><i class="fas fa-user"></i> Présenté par : <%= User.find(@conference.vice.user_id).first_name.capitalize %> <%= User.find(@conference.vice.user_id).last_name.capitalize %> </p>
      <p><i class="far fa-calendar-times"></i>  <%= @conference.date.strftime('%d . %m . %Y') %></p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @conference.vice.address %></p>
    </div>
    <div class="d-flex justify-content-end align-items-center" style="position: relative;">
      <%= cl_image_tag(@conference.user.photo.key, class: 'avatar-xxl') %>
      <%= cl_image_tag(@conference.vice.photo.key, class: 'avatar-xxl', style: 'margin-left:-30px;') %>
      <%= cl_image_tag(User.find(@conference.vice.user_id).photo.key, class: 'avatar-xxl', style: 'margin-left:-30px;') %>
    </div>
  </div>
</div>

<style type="text/css">
  h2, h5{font-weight: normal;font-family: 'Montserrat';}
  h1{line-height: 34px;color:black;text-shadow: 1px 3px 1px #091A6C;}
  .imgRand{
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin: 20px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-bottom: 5vh;
}
</style>
