<div class="cards-reservation-wrapper">
  <div class="card-video">
    <%= cl_video_tag("video_g8emmz", width: 2500, crop: :crop,
  loop: true, autoplay: true, poster: false, class: 'video-loop')%>
  </div>
  <div class="card-reservation-information">
    <h2><%= @conference.vice.description %></h2>
    <h2> <strong><%= @conference.vice.price %> €</strong></h2>
    <p> <%= @conference.date %> </p>
    <p><%= @conference.vice.description %></p>
    <p>Reservation status: <strong> <%= @conference.status %> </strong></p>
    <%= link_to 'Retour aux vices', vices_index_path %>
  </div>
</div>

