<div class="banner text-left" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= cl_image_path('Vice_bottles_xjklyj')%>);">
  <h2 class="text-white ml-5">We bring VICE ideas to naughty people</h2>
  <br><br>
</div>

<div class="justify-content-center bg-light mt-0 pb-4" style="margin-top:-14px;">
  <h2 class="p-5" style="color:#000;">Pour les hommes (ou femmes) avides d'aventures ...</h2>

    <div class="container">
  <div id="carouselExampleInterval" class="carousel slide bg-light" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <div class="d-flex justify-content-around">
          <% Vice.first(3).each do |vice| %>
            <div class="card d-block w-33" style="width: 18rem;">
              <%= cl_image_tag(vice.photo.key, class: "card-image w-100") %>
              <div class="card-body">
                <div class="rating d-flex  mb-2">
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsUnselect.png') %>
                </div>
                <%= cl_image_tag(vice.user.photo.key, class: 'avatar-large card-avatar') %>
                <h3 style="font-size: 14px;"><%= link_to vice.name, new_vice_conference_path(vice), class: 'text-success' %></h3>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-primary"><%= vice.category %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <div class="d-flex justify-content-around">
          <% Vice.all.slice(2..4).each do |vice| %>
            <div class="card d-block w-33" style="width: 18rem;">
              <%= cl_image_tag(vice.photo.key, class: "card-image w-100") %>
              <div class="card-body">
                <div class="rating d-flex  mb-2">
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsUnselect.png') %>
                </div>
                <%= cl_image_tag(vice.user.photo.key, class: 'avatar-large card-avatar') %>
                <h3 style="font-size: 14px;"><%= link_to vice.name, new_vice_conference_path(vice), class: 'text-success' %></h3>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-primary"><%= vice.category %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
         <div class="d-flex justify-content-around">
          <% Vice.all.slice(6..7).each do |vice| %>
            <div class="card d-block w-33" style="width: 18rem;">
              <%= cl_image_tag(vice.photo.key, class: "card-image w-100") %>
              <div class="card-body">
                <div class="rating d-flex  mb-2">
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsSelect.png') %>
                  <%= image_tag('boobsUnselect.png') %>
                </div>
                <%= cl_image_tag(vice.user.photo.key, class: 'avatar-large card-avatar') %>
                <h3 style="font-size: 14px;"><%= link_to vice.name, new_vice_conference_path(vice), class: 'text-success' %></h3>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-primary"><%= vice.category %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>



<div class="footer bg-dark">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github text-white"></i></a>
    <a href="#"><i class="fab fa-instagram text-white"></i></a>
    <a href="#"><i class="fab fa-facebook text-white"></i></a>
    <a href="#"><i class="fab fa-twitter text-white"></i></a>
    <a href="#"><i class="fab fa-linkedin text-white"></i></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag 'logo.png', class: 'navbar-brand mr-auto p-2 bd-highlight' %>
  </div>
</div>

<script>

const navbar = document.getElementsByClassName('navbar')[0]
navbar.classList.add('bg-transparent')
const navlink = Array.from(document.querySelectorAll('a.nav-link')).slice(0,3)
navlink.forEach( (element) => element.classList.add('text-white'))
navbar.classList.add('border-0')


window.addEventListener('scroll', changeColor = () => {

  const banner = document.getElementsByClassName('banner')[0].offsetHeight - 150
  const navbar = document.getElementsByClassName('navbar')[0]
  const navlink = Array.from(document.querySelectorAll('a.nav-link')).slice(0,3)

  if (banner > window.scrollY) {
    navbar.classList.add('bg-transparent')
    navbar.classList.add('border-0')
    navbar.classList.remove('shadow')
    navlink.forEach( (element) => element.classList.add('text-white'))
  } else {
    navbar.classList.remove('bg-transparent')
        navbar.classList.remove('border-0')
    navbar.classList.add('shadow')
    navlink.forEach( (element) => element.classList.remove('text-white'))
  }
});


</script>
