<div class="container flex-column">
  <h1 class="my-3">Ajouter un vice</h1>
  <%= simple_form_for(Vice.new) do |form| %>
    <%= form.input :photo, as: :file %>

  <div class="row">
    <div class="col">
      <%= form.input :name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.input :category, as: :select2, collection: Vice::CATEGORIES,  default: 1 %>
    </div>
    <div class="col-5">
      <%= form.input :price, label: 'Prix' %>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <%= form.input :starting_date, :as => :string, :input_html => { :id => 'startdate', autocomplete: 'off' } %>
      </div>
      <div class="col">
        <%= form.input :ending_date, :as => :string, :input_html => { :id => 'enddate', autocomplete: 'off' } %>
      </div>
    </div>

    <%= form.input :address, input_html: { autocomplete: 'off' } %>
    <%= form.input :description %>


    <%= form.button :submit, 'Créer son vice' , class:'btn btn-primary w-100 mb-2'%>
  <% end %>
</div>



<!-- TO DO MELI : REFACTO -->

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">
  $(function() {
         $("#startdate").datepicker({ dateFormat: "dd-mm-yy" }).val()
         $("#enddate").datepicker({ dateFormat: "dd-mm-yy" }).val()
  });
</script>

