<div class="container flex-column">
  <h1 class="my-3">Ajouter un vice</h1>
  <%= simple_form_for(Vice.new) do |form| %>
    <%= form.input :photo, as: :file %>

  <div class="row">
    <div class="col">
      <%= form.input :name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.input :category, as: :select2, collection: Vice::CATEGORIES,  default: 1 %>
    </div>
    <div class="col-5">
      <%= form.input :price, label: 'Prix' %>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <%= form.input :starting_date, as: :date_time_picker %>
      </div>
      <div class="col">
        <%= form.input :ending_date, as: :date_time_picker %>
      </div>
    </div>

    <%= form.input :address, input_html: { autocomplete: 'off' } %>
    <%= form.input :description %>


    <%= form.button :submit, 'Créer son vice' , class:'btn btn-primary w-100 mb-2'%>
  <% end %>
</div>


