<div class="navbar">
<p>coucou je suis une navbar</p>
</div>

<div class="container">
  <%= simple_form_for(@vice) do |form| %>
    <%= form.input :name %>
    <%= form.select :category, collection: Vice::CATEGORIES %>
    <%= form.input :description %>
    <%= form.input :disponibility %>
    <%= form.input :address %>
    <%= form.input :price %>
    <%= form.button :submit %>
  <% end %>
</div>
