<div class="container">
  <%= simple_form_for(@vice) do |form| %>
    <%= form.input :name %>
    <%= form.select :category, collection: Vice::CATEGORIES %>
    <%= form.input :description %>
    <%= form.input :starting_date %>
    <%= form.input :ending_date %>
    <%= form.input :address %>
    <%= form.input :price %>
    <%= form.button :submit %>
  <% end %>
</div>
